
/*====== GLOBAL STYLE ========*/
body {
	background:white!important
}
a {
	text-decoration:none!important;
}
.overlay {
	width: 100%;
    height: 100%;
    position:absolute;
    top:0;
	left:0;
}
img {
	position:relative;
	width:100%;
	height:100%;
	border-radius: 8px;
    box-shadow: 2px 3px 20px 0 rgba(0, 0, 0, 0.3);
}
*:focus {
	outline:none!important
}
.btn {
	color:$primary;
	background:white;
	box-shadow:2px 6px 20px 0px rgba($primary,.4);
	transition:1s all;
	a {
		text-decoration:none!important;
	}
	&:hover {
		color:white;
		background:$primary;
	}
}
.ribbon {
	position: absolute;
    left: 13px;
    top: 140px;
    background: #5C6AC4;
    color: white;
    width: 100px;
    border-radius: 0 9px 9px 0;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: bold;
}
input:focus{
	outline:0;
	border:0;
	padding-left:20px
}
.card {
	border:0;
	transition:1s all;
	border-top:4px solid $primary;
	&:hover {
		box-shadow: 0 9px 20px 0 rgba(black, .2);
		transform:translateY(-30px);
	}
}
@for $i from 1 through 5 {
	h#{$i}{
		font-weight:bold;
	}
}
.overlay {
	background:$overbackground;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}
.section {
	padding:40px 0!important;
	.section-title {
		color:$dark;
		border-bottom: 4.5px solid $primary;
    	width: 200px;
    	padding-bottom: 8px;
	}
}
i {
	cursor:pointer
}
/*====== POSTS START ========*/
.posts {
	.post {
		.image_cover {
			overflow:hidden;
			postition:relative;
			width:100%;
		}
		p {
			color:$grey;
			margin:0;
		}
		.like, .dislike {
		  display: inline-block;
		  cursor: pointer;
		  margin:2px 5px 0;
		}

		.dislike:hover, .like:hover {
		  color: #2EBDD1;
		  transition: all .2s ease-in-out;
		  transform: scale(1.1);
		}

		.active {
		  color: #2EBDD1;
		}
	}
}
/*====== POSTS END ========*/

/*======== SIDEBAR START =========*/
aside {
	.subscribe {
		background:$light;
	}
	.card {
		margin:30px 0;
		.card-header {
			background:white;
		    padding-left: 40px;
    		font-weight: bold;
		}
		.date {
			color:$light;
		}
	}
}

/*======= SIDEBAR END =========*/
/*====== FOOTER START ========*/
footer {
	background:$dark;
	color:white;
	.icons i {
		border:2px solid white;
		font-size:20px;
		transition:1s all;
		margin:7px;
		animation: bloop 1s linear;
		&:hover{
			background:white;
			color:$dark;
		}
	}
}
/*====== FOOTER END =========*/
/*====== carousel Start =======*/
.carousel{
	.carousel-item{
		height:83vh;
		.carousel-caption{
			top:30%;
			position:absolute;
			h2 {
				font-size:100px;
				span {
					color:$primary;
				}
			}
			.cont {
				 position: relative;
				 display: block;
				 width: 80px;
				 margin: 60px auto;
				 &:hover .delay1 {
				    animation: waves 2.5s linear;
				    animation-delay: .1s;
				  }
				  &:hover .delay2 {
				    animation: waves 2.5s linear .7s forwards,
				  }
				  &:hover .delay3 {
				    animation: waves 2.5s linear 1.3s forwards;
				  }
				  &:hover .delay4 {
				    animation: waves 2.5s linear 1.9s forwards;
				  }
				}

				i {
				  position: relative;
				  z-index: 20;
				  font-size: 30px;
				  margin-top: 26px;
				  margin-left: 7px;
				}

				.circle {
				  display: block;
				  height: 60px;
				  width: 60px;
				  border-radius: 50%;
				  background:$primary;
				  margin: 10px;
				  transition: 5s ease;
				  position: absolute;
				  top: 0px
				}

				@-webkit-keyframes waves {
				  0% {
				    transform: scale(1);
				    opacity: 1;
				  }
				  
				  100% {
				    transform: scale(4);
				    opacity: 0;
				  }
				}

				@keyframes bloop {
				  0% {
				    transform: scale3d(1, 1, 1);
				  }

				  30% {
				    transform: scale3d(1.25, 0.75, 1);
				  }

				  40% {
				    transform: scale3d(0.75, 1.25, 1);
				  }

				  50% {
				    transform: scale3d(1.15, 0.85, 1);
				  }

				  65% {
				    transform: scale3d(.95, 1.05, 1);
				  }

				  75% {
				    transform: scale3d(1.05, .95, 1);
				  }

				  100% {
				    transform: scale3d(1, 1, 1);
				  }
				}
		}
	}
}
/*======== Carousel End ===========*/
/*======== NAVBAR START ===========*/
nav {
	position:fixed!important;
	width:100%;
	box-shadow:-1px 2px 20px 0px rgba(0, 0, 0, 0.3);
	z-index:99999;
    font-weight: bold;
    text-transform: uppercase;
    .nav-brand {
    	color:white!important;
    }
	.overlay {
		z-index:-1;
		background:none;
		.row {
			height:100%;
			div{
				background:$primary;
				-webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
				clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
			}
			div:last-of-type{
   			    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%);
				clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%);			
			}
		}
	}
}
/*======== SCROLL TO TOP START =============*/
#scrollToTop{
	background:$primary;
    padding: 12px 15px;
	position:fixed;
	bottom:20px;
	right:20px;
	i {
		color:white;
		font-size:22px;
	}
}

/*========= SCROLL TO TOP END =============*/

/*========= RECENTS POSTS START =============*/
#recent_posts{
	background:$grey;
	.post {
		.cover_image{
			border-raduis:20px;
			overflow:hidden;
			height:180px!important
		}
		h2 {
			color:$dark;
		}
		p {
			color:$light
		}
	}
}
/*========= RECENTS POSTS START =============*/

/*========== POP UP START =======*/
#pop_up{
	background:$overbackground;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	display:none;
	.inner {
		background:$primary;
		/*background:url('../storage/images/witcher_1');
		background-size:cover;
		background-repeat:norepeat;*/
		position:fixed;
		top:30%;
		left:40%;
		z-index:9999;
		border-radius:15px
	}
}

/*========== FORM START ===============*/
.loginForm{
	height:100vh;
	width:100vw;
	top:0;
	left:0;
	position:absolute;
	.card {
		background:#F4F6F8;
		position:relative;
		top:40%;
		box-shadow:0 0 20px 0 $overbackground;
		.card-header {
			text-align:center;
			background:inherit;
			text-transform:uppercase;
		}
		form .form-group {
			position:relative;
			overflow:hidden;
			border-radius:30px 0 0 30px;
			input {
				padding-left:50px;
			}
			i {
				position:absolute;
				top:0;
				left:0;
				padding:13px;
				background:$primary;
				color:white
			}
			&:last{
				border:0
			}
		}
		.social-media button {
			background:white;
			color:$dark;
			box-shadow:none;
			i {
				left: 13px;
    			position: relative;
    			font-size:20px
			}
		}
		.social-media button:hover {
			border:0!important;
			color:white;
			i {
				color:white
			}
		}
		.social-media button:nth-child(1):hover {
			background:$google;
		}
		.social-media button:nth-child(2):hover {
			background:$facebook;
			color:white;
		}
		.social-media button:nth-child(3):hover {
			background:$twitter;
			color:white;
		}
		.social-media button:nth-child(1) {
			border:1px solid $google;
			i {
				color:$google;
			}
		}
		.social-media button:nth-child(2) {
			border:1px solid $facebook;
			i {
				color:$facebook;
			}
		}
		.social-media button:nth-child(3) {
			border:1px solid $twitter;
			i {
				color:$twitter;
			}
		}
	}
}

/*=========== LATEST REVIEWS START ============*/
#latest_reviews, .games_store{
	background:$light;
	.post {
		.cover_image{
			border-radius:13px;
			box-shadow:4px 2px 9px 0px rgba(black, 0.3);
			background:white;
			overflow:hidden
		}
	}
}
/*======== LATEST REVIEWS END =====*/
#random_posts{
	.post {
	    height: 160px;
	    margin-top: -70px;
	    margin-bottom:130px;
	    width: 240px;
	    box-shadow: 0 0 20px 0;
	    position:relative;
	    .overlay {
	    	color:white;
	    	transform:scale(0);
	    	background:rgba($primary, .6);
	    	i {
	    		top:50%;
	    		left:50%;
	    		position:relative;
	    		font-size:40px
	    	}
	    	&:hover{
	    		transform:scale(1)
	    	}
	    }
	}
}
/*=========== LATEST NEWS ===========*/
#latest_news{
	.post {
		.cover_image{
			border-radius:10px;
			box-shadow:4px 2px 9px 0px rgba(black, 0.3);
			background:white;
			overflow:hidden;
			height:170px;
		}
	}
}
/*=========== LIKES START ==========*/
.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.dislike:hover,
.like:hover {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.active {
  color: #2EBDD1;
}


//@import "compass/css3";

/*=====================*/
$fb-cl:#3B579D;
$twt-cl:#00ACED;
$gp-cl:#DD4A3A;
$in-cl:#007BB6;
$pin-cl:#CB2026;

@function shadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 30 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}


.social-nav{
  padding: 0;
  list-style: none;
  display: inline-block;
  margin:10px auto;
  li{
    display: inline-block;
  }
  a {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
    background: #000;
    position: relative;
    @include transition(.5s);
  }
}


.model-0{
  position: fixed;
  @include transition(.5s);
  left:0;
  top: 50px;
  li{
    float: none;
    display: block;
  }
  a{
    &:hover{
    padding-left: 20px;
    width:65px;
    }
  }
  .twitter{ background:$twt-cl}
  .facebook{ background:$fb-cl}
  .google-plus{background:$gp-cl}
  .linkedin{background:$in-cl}
  .pinterest{ background:$pin-cl}
}
.model-8{
  a{
    background: #FFF;
    &:hover{
        @include box-shadow(0 48px  0  inset);
        &> .fa{color:#fff}
      }
  }
  .twitter{
    color:$twt-cl;
    &:hover{ color:$twt-cl}
  }
  .facebook{
    color:$fb-cl;
    &:hover{color:$fb-cl}
  }
  .google-plus{
    color:$gp-cl;
    &:hover{ color:$gp-cl}
  }
  .linkedin{
    color:$in-cl;
    &:hover{ color:$in-cl}
  }
  .pinterest{
    color:$pin-cl;
    &:hover{color:$pin-cl}
  }
}
