
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/*======= COLORS =========*/
$dark :#292C31;
$light:#F8F9FA;
$grey:#798389;
$primary:#5C6AC4;//#DC3545;
$overbackground:rgba(0,0,0,0.6);

/*======= SOCIAL MEDIA =======*/
$facebook:#3A5A97;
$google: #DC3545;
$twitter :#17A2B8
